.nav > li {
	text-align: center;	
	background-color: #C8D8DE;
}

.navbar-default .navbar-nav > li {
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.navbar-default .navbar-nav > li:last-child {
	border-bottom: 1px solid black;
}

.navbar-default .navbar-nav > li > a{
	color: #777;
}

.navbar-default .navbar-nav > li > a:hover {
	color: black;
}

section#chicken-content {
	margin-top: 40px;
}

#chicken-content {
	background-color: #B9BCBD;
}

#chicken-content > h2 {
	text-align: center;
	font-size: 20px;
}

#chicken-content > p {
	margin-top: 20px;
}